%h1.entity-title 
  %span.entity-section= "Topic"
  %span.entity-name= locals[:tag_line]


- locals[:articles].each do |article|
  %section.post
    %header.post-header
      %h2.post-title
        %a{:href => url_for(article.contentId)}= article.name
    %div.post-description
      %p= article.text
      
