!!!
%html
  %head
    %title Polly!
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/normalize.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/skeleton.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "/style.css"}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "//fonts.googleapis.com/css?family=Raleway:400,300,600"}

  %body
    %div.container
      %div{:class => 'content'}
        = yield
