!!!
%html
  %head
    %title Polly!
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

  %body
    %div.container
      %div{:class => 'content'}
        = yield
